<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <style>
        div { text-align: center;
        background-color: coral;}
    </style>
</head>
<body>
    <div>
        <img src="{{url_for('static', filename='indeximage.jpg')}}" />
            <h2>Mental Health Journal Data Aggregation App</h2>
            <h3>Journal Entry</h3>
        <form method="POST">
            <input name="text" size="50">
            <br>
            <input type="submit">
        </form>
        <h3>Overall sentiment is: {{vibe}}</h3>
        <h3>Emotions detected: </h3>
        <ul>
            {% for item in counts %}
                <ul>{{item}}</ul>
            {% endfor %}
        </ul>
    </div>
</body>
</html>